<section class="hero bg-gray-900 text-white py-16 flex items-center justify-center">
  <div class="container mx-auto text-center">
    <h1 class="text-4xl font-bold mb-4">Descubre tu potencial con Nike</h1>
    <p class=" text-4xl mb-8">Explora nuestra colección de productos diseñados para ayudarte a alcanzar tus metas.</p>
    <button class="bg-white text-gray-900 px-6 py-3 rounded-full text-lg font-bold hover:bg-gray-200">Explorar</button>
  </div>
</section>

<section class="py-16 bg-gray-100">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold mb-8 text-center">Productos destacados</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-white rounded-lg shadow-md p-6">
        <img src="../assets/ropa1.jpg" alt="Ropa Nike" class=" ropa w-full mb-4">
        <h3 class="text-xl font-semibold mb-2">Ropa Deportiva</h3>
        <p class="text-gray-700">Descubre nuestra última colección de ropa deportiva diseñada para mejorar tu rendimiento.</p>
      </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <img src="../assets/zapatillas1.jpg" alt="Zapatillas Nike" class="w-full mb-4">
        <h3 class="text-xl font-semibold mb-2">Zapatillas</h3>
        <p class="text-gray-700">Encuentra el par perfecto de zapatillas para cada actividad, desde running hasta entrenamiento cruzado.</p>
      </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <img src="../assets/accesorios1.jpg" alt="Accesorios Nike" class=" w-full mb-4">
        <h3 class="text-xl font-semibold mb-2">Accesorios</h3>
        <p class="text-gray-700">Completa tu equipo con nuestros accesorios diseñados para mejorar tu experiencia deportiva.</p>
      </div>
    </div>
  </div>
</section>
